{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="jumbotron">
  <p><a href="{% url "jedi.list" %}" class="btn btn-primary btn-lg" role="button">{% trans "Quiero aprender" %}</a></p>

  {% if not is_jedi %}
    <p><a href="{% url "jedi.add" %}" class="btn btn-primary btn-lg" role="button">{% trans "Quiero ser un Jedi" %}</a></p>
  {% endif %}

  {% if not is_padawan %}
    <p><a href="{% url "padawan.add" %}" class="btn btn-primary btn-lg" role="button">{% trans "Quiero ser un Padawan" %}</a></p>
  {% endif %}
</div>
{% endblock %}
