{% extends "base.html" %}
{% load bootstrap3 %}

{% load devtags %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="row">
        <div class="col-md-12">
          <form action="{% url 'projects_add' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Guardar 
                </button>
            {% endbuttons %}  
          </form>
        </div>
    </div>
</main>
{% endblock %}
