{% extends "base_site.html" %}
{% load devtags %}

{% block left-column %}
    <!-- Últimas noticias -->
    <section>
        <div class="page-header">
            <h2>Proyectos de la Comunidad
              {% if user.is_authenticated %}
                | <a href="{% url 'projects_add' %}"><small>Agregar</small></a>
              {% endif %}
            </h2>
        </div>
        {% for project in pyar_projects %} 
            <article class="board-list-item">
              <h4>
                <a href="{{ project.url }}">
                  {{ project.name }}
                </a>
                <small>
                  ( Autor: <toimplement>)
                </small>
              </h4>
              <p>{{ project.description|slice:":200" }} ...</p>
              <div class="text-muted"><p></p></div>
            </article>
        {% endfor %}
        {% for project in projects %} 
            <article class="board-list-item">
              <h4>
                <a href="{% url 'projects_view' project.id %}">
                  {{ project.name }}
                </a>
                <small>
                  ( Autor: {{ project.owner }} )
                </small>
              </h4>
              <p>{{ project.description|slice:":200" }} ...</p>
	      <div class="text-muted">
		<p>
		  {% if project.owner == user %}
                    <a href="{% url 'projects_delete' project.id %}">Borrar</a> | 
                    <a href="{% url 'projects_update' project.id %}">Modificar</a>
                  {% endif %}
		</p>
	      </div>
            </article>
        {% endfor %}
    </section>
    <!-- pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if projects.has_previous %}
                <a href="?page={{ projects.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
            </span>

            {% if projects.has_next %}
                <a href="?page={{ projects.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
