{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load waliki_tags %}

{% block title_wrapper %}
    {% if page.title %}{{ page.title }} - {% endif %} Wiki
{% endblock title_wrapper %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/waliki.css'%}">

{% endblock %}



{% block container_wrapper %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">



{% block header %}

      <div class="page-header">

        <div class="pull-right">
    {% block actions %}
      <div class="btn-group">

            <a href="{% url 'waliki_edit' slug=page.slug|default:slug %}" class="btn btn-default">{% trans "Edit" %}</a>
            <button class="btn dropdown-toggle btn-default" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <!-- dropdown menu links -->

            {% if page %}
                {% extra_page_actions page %}

                <li><a href="{% url "waliki_detail_raw" page.slug %}">{% trans "Raw" %}</a></li>

                {% if can_delete %}
                <li class="divider"></li>
                <li><a id="confirmDelete" class="text-error">{% trans "Delete" %}</a></li>

                {% endif %}

            {% endif %}
            </ul>
        </div>

    {% endblock actions %}
    </div>

        {% block title %}
            <h2>{{ page.title }} </h2>
        {% endblock title %}
      </div>
{% endblock header %}
{% block content %}
    <article>

    {% if page %}
        {{ page.body|safe }}
    {% else %}
        <p>{% trans "This page doesn't exist yet." %}</p>
        <p><a href="{% url 'waliki_edit' slug=page.slug|default:slug %}" class="btn btn-success">{% trans "Create it" %}</a></p>
    {% endif %}

      </article>
{% endblock %}
  </div>
</main>
{% endblock %}