Django==1.6.2
Pillow==2.3.0
South==0.8.4
argparse==1.2.1
django-bootstrap3-datetimepicker==2.2.3
django-extensions==1.3.3
django-registration==1.0
django-taggit==0.11.2
ipdb==0.8
ipython==1.2.0
django-summernote
requests
-e git://github.com/PyAr/django-disqus.git#egg=django-disqus
-e git://github.com/PyAr/django-taggit-autosuggest.git#egg=django-taggit-autosuggest
django-planet>=0.6.2
