Django>=1.8,<1.9
Pillow==2.3.0
anyjson==0.3.3
argparse==1.1
beautifulsoup4==4.4.1
billiard==3.3.0.18
django-bootstrap3==7.0.1
django-bootstrap3-datetimepicker==2.2.3
django-crispy-forms==1.6.0
git+https://github.com/PyAr/django-disqus.git#egg=django-disqus
django-email-obfuscator==0.1.3
django-email-confirm-la==2.3.0
django-extensions==1.3.3
django-model-utils==2.0.3
django-pagination-py3==1.1.1
django-summernote==0.8.3
django-taggit==0.18.0
django-taggit-autosuggest==0.2.8
django-tagging==0.4.1
django-allauth==0.25.2
feedparser==5.1.3
psycopg2==2.6.2
lxml==3.3.5
pytz==2014.4
requests==2.2.1
six==1.6.1
https://github.com/coleifer/micawber/archive/master.zip#egg=micawber
-e git+https://github.com/mgaitan/waliki.git@b7a57c782a0bdc22fc8011576dbc516d286a6971#egg=waliki-master
django-braces==1.4.0
django-sendfile==0.3.6
hovercraft==1.1
django-autoslug==1.7.2
django-dbbackup==2.0.4
django-planet
