{% extends "base_site.html" %}

{% load devtags i18n pagination_tags %}

{% block left-column %}
    <div class="row">

      <div class="col-md-12">
        
        <div class="page-header">
            <h2>{% trans 'Companias' %}
              {% if user.is_authenticated %}
                  <span class="section-button-group pull-right">
                      <a href="{% url 'companies-add' %}" class="btn btn-info">{% trans 'Agregar Compania' %}</a>
                  </span>
              {% endif %}
            </h2>
        </div>

        {% for company in companies %}
            <article class="board-list-item">
                <h4>
                    <a href="{{ company.link}}">{{ company.name }}</a>  <span class="job-date">({{ company.modified|date:"d/m/y" }})</span>
                </h4>
            </article>
            {% paginate %}
        {% endfor %}

      </div>

    </div>
{% endblock %}
