{% extends "base.html" %}
{% load disqus_tags %}
{% load i18n %}
{% load staticfiles %}
{% load devtags %}
{% block title %}
  {{ object.title }}
{% endblock title %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>
          {{ object.name }}
          <span class="pull-right">
            {% if object.owner == user %}
            <a href="{% url 'companies:edit' object.id %}" class="btn btn-info">{% trans 'Editar' %}</a>
            <a href="{% url 'companies:delete' object.id %}" class="btn btn-danger">{% trans 'Borrar' %}</a>
            {% endif %}
          </span>
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <article>
            <p>{% autoescape off %}{{ object.description|linebreaks|safe }}{% endautoescape %}</p>
          </article>
        </div>
        <div class="col-md-4">
          <a href="{{ object.link }}" target="blank">
            <img style="max-width:200px; height:auto;" src="{{ MEDIA_URL }}{{ object.photo }}"></img>
          </a>
        </div>
      </div>
      {% if object.rank > 0%}
        <hr/>
        <p> Socia Benefactora de la <a href="https:/ac.python.org.ar/">Asociación Civil Python Argentina</a></p>
        <img src="https://ac.python.org.ar/images/acpyar.png" class="img-thumbnail" style="max-width:300px; height:auto;"/>
      {% endif %}
  </div>
</main>
{% endblock %}
