{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load devtags %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/event_map.css">
{% endblock %}

{% block content %}
	<main id="main" class="container" role="main">
	    <div class="col-lg-12">
		    <div class="page-header">
		    	<h2>{% if form.instance.id %}
		    			{% trans 'Editar Empresa' %}
		    		{% else %}
		    			{% trans 'Agregar Empresa' %}
		    		{% endif %}
		    	</h2>
		    </div>
		    {% crispy form %}
		</div>
	</main>
{% endblock %}
