{% extends "base_site.html" %}
{% load devtags %}
{% load i18n static pagination_tags devtags %}
{% block title %}Administrar Empresa{% endblock %}
{% block left-column %}
  <!-- Administrar Empresa -->
  {% if own_company %}
  <section>
    <div class="page-header">
      <h2>
        {{own_company}}
      </h2>
    </div>
    <div>

        <section class="list-group col-md-8">
          <header class="list-group-item">
              <h3 style="margin:0;">
                {% trans 'Usuaries vinculades'%}
              </h3>
          </header>
          <article class="list-group-item">
            {% if company_users %}
              {% for company_user in company_users %}
                  <h4>
                  {{company_user.user.username}}
                  <a href="{% url 'companies:disassociate' company_user.id%}" class="btn btn-danger btn-xs ">
                    {% if user == company_user.user %}
                      {% trans 'Desvincularme' %}
                    {% else %}
                      {% trans 'Desvincular' %}
                    {% endif %}
                  </a>
                </h4>
              {% endfor %}
          {% else %}
              <div class="col-md-12">
                  <p>{% trans 'No hay usuaries vinculades.' %}</p>
              </div>
          {% endif %}
          </article>
        </section>
      <div class="col-md-4">
        <h3>{% trans 'Vincular usuarie'%}</h3>
        <form method="POST" action="{% url 'companies:associate' own_company.id %}"  class="input-group">
          {% csrf_token %}
          <input type="search" name="username" class="form-control input-md" placeholder="Usuarie..." value="" required="">
          <span class="input-group-btn">
            <button class="btn btn-success btn-md" type="submit">
                Vincular
            </button>
          </span>
        </form>
      </div>
    </div>
  </section>
  {% else %}
  <section>
    <div class="page-header">
      <h2>
        {% trans 'Administración de empresa' %}
      </h2>
    </div>
    {{user_already_in_company}}
    {% if user_already_in_company %}
      <p class="bg-danger">
        {% trans 'El usuario ya está vinculado a esta empresa.' %}
      </p>
    {% endif %}

    {% if user_in_other_company %}
      <p class="bg-danger">
        {% trans 'El usuario está vinculado a otra empresa.' %}
      </p>
    {% endif %}


    {% if user_does_not_exist %}
      <p class="bg-danger">
        {% trans 'El usuario ingresado no existe.' %}
      </p>
    {% endif %}


    {% if associated %}
      <p class="bg-success">
        {% trans 'Usuario asociado correctamente.' %}
      </p>
    {% endif %}

    <div>
      <h3>
        {% trans 'No estás asociade a ninguna empresa' %}
        <a href="{% url 'companies:add' %}" class="btn btn-info">{% trans 'Agregar Empresa' %}</a>
      </h3>
      <form type="GET" class="input-group">
        <input type="search" name="empresa" class="form-control input-lg" placeholder="Buscar empresa..." value="" required="">
        <span class="input-group-btn">
          <button class="btn btn-default btn-lg" type="submit">
              <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </form>
      <div>
      {% if companies %}
      <div class="accordion" id="companiesAccordion">
        {% for company in companies %}
          <div>
            <a data-toggle="collapse" href="#collapse-{{company.id}}" role="button" aria-expanded="false" aria-controls="collapse-{{company.id}}">
              <h3 style="color: #666;" >{{company.name}}</h3>
            </a>
            <div class="collapse" id="collapse-{{company.id}}" data-parent="#companiesAccordion">
            {% if company.users.all %}
              <h4>Para asociarte a la empresa, por favor comunicate con alguna de estas personas:</h4>
            {% endif %}
            {% for company_user in company.users.all %}
              <h4>
                {{company_user.user.username}}
              </h4>
            {% empty %}
              <h4>{% trans 'No hay ninguna persona asociada a esta empresa.' %}</h4>
              <h4>{% trans 'Por favor, enviá un email a admin@python.org.ar para solicitar que te asocien.' %}</h4>
            {% endfor %}
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <div class="col-md-12">
          <p>{% trans 'No existen empresas para esta busqueda.' %}</p>
        </div>
      {% endif %}
    </div>
  </section>
  {% endif %}
{% endblock %}
