{% extends "base_site.html" %}
{% load devtags i18n staticfiles pagination_tags planet_tags %}

{% block title %}Planeta {% endblock %}

{% block left-column %}
<!-- Últimas noticias -->
<section>
    <div class="col-md-12">
        <div class="page-header">
            {% if feed_created %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% trans 'La URL ha sido procesada exitosamente. Su feed puede tardar algunos minutos en aparecer.' %}
            </div>
            {% endif %}
            <h2>{% trans 'Planeta PyAr' %}
              {% if user.is_authenticated %}
                <span class="section-button-group pull-right">
                    <a href="{% url 'feed_add' %}" class="btn btn-info">{% trans 'Agregar feeds' %}</a>
                    <a href="{% url 'planet_blog_list_by_user' %}" class="btn btn-info">{% trans 'Mis blogs' %}</a>
                </span>
              {% endif %}
            </h2>
        </div>
            {% autopaginate posts 15 %}
            {% for post in posts %}
                <div class="board-list-simple-item">
                    {% post_details post %}
                </div>
            {% endfor %}

            {% paginate %}
    </div>
</section>
{% endblock %}
{% block right-column %}
{{ block.super }}
<section class="list-group">
    <header class="list-group-item">
        <h3 class="list-group-item-heading">{% trans 'Filtrar por etiqueta' %}</h3>
    </header>
    <article class="list-group-item">
        <form method="GET" class="col-md-12" id="tags-form">
            <div class="row tags-group">
                {% csrf_token %}
                {% for tag in tags %}
                <select name="tag_{{ tag.name }}" id="tag_{{ tag.name }}" class="hidden">
                    <option value="0"></option>
                    <option value="1" {% if tag.name in included %}selected{% endif %}></option>
                    <option value="2" {% if tag.name in excluded %}selected{% endif %}></option>
                </select>
                <label for="tag_{{ tag.name }}" class="filter_tag btn btn-sm {% if tag.name in included %}included btn-success{% elif tag.name in excluded%}excluded btn-danger{% else %}btn-default{% endif %}">
                    {{ tag.name }}
                </label>
                {% endfor %}
            </div>
            <div class="row">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Filtrar' %}</button>
                    <button type="button" class="btn btn-default" id="reset-btn">{% trans 'Limpiar' %}</button>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </article>
</section>
<script src="{% static 'js/tag_filtering.js' %}"></script>
{% endblock %}
