{% load i18n staticfiles %}

<section class="list-group">
    <header class="list-group-item">
        <h3 class="list-group-item-heading">{% trans 'Filtrar por etiqueta' %}</h3>
    </header>
    <article class="list-group-item">
        <form method="GET" class="col-md-12" id="tags-form">
            <div class="row tags-group">
                {% for tag in tags %}
                <select name="tag_{{ tag.slug }}" id="tag_{{ tag.slug }}" class="hidden">
                    <option value=""></option>
                    <option value="1" {% if tag.slug in included %}selected{% endif %}></option>
                    <option value="2" {% if tag.slug in excluded %}selected{% endif %}></option>
                </select>
                <label for="tag_{{ tag.slug }}" class="filter_tag btn btn-sm {% if tag.slug in included %}included btn-success{% elif tag.slug in excluded%}excluded btn-danger{% else %}btn-default{% endif %}">
                    {{ tag.name }}
                </label>
                {% endfor %}
            </div>
            <div class="row">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Filtrar' %}</button>
                    <button type="button" class="btn btn-default" id="reset-btn">{% trans 'Limpiar' %}</button>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </article>
</section>
<script src="{% static 'js/tag_filtering.js' %}"></script>
