{% extends "base.html" %}
{% load i18n devtags %}
{% load event_tags %}

{% block content %}

<div class="content-wrapper">
{% block beforemain %}{% endblock %}

<main id="main" class="container" role="main">

  {% block container %}

    <div class="row">

      <div class="col-md-8">
        {% block left-column %}{% endblock %}
      </div>

      <div class="col-md-4" style="margin-top:20px;">

        {% block right-column %}
          <!-- SeachBox -->

          {% include 'search_form.html' %}

          <!-- Próximos eventos -->
          <section class="list-group">
              <header class="list-group-item">
                  <h3 class="list-group-item-heading">{% trans "Próximos Eventos" %}<div class="pull-right">
                      <a href="{% url 'events:events_feed' %}" class="badge">
                      <i class="fa fa-rss"></i> RSS</a>
                    </div></h3>

              </header>

              {% next_events %}

          </section>

        {% endblock %} <!--/right-column-->


      </div>
    </div>

    {% endblock %} <!--/container-->
</main>
{% endblock %}
</div>
