{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PyAr - Python Argentina</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">

        {% block stylesheets %} {% endblock %}

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{% static "jquery/1.11.0/jquery.min.js" %}"></script>
        <script src="{% static "bootstrap/3.1.1/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/web.js" %}"></script>
    </head>
    <body>
        {% include "header.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}

        {% block javascripts %} {% endblock %}
    </body>
</html>
