{% extends "base.html" %}
{% load devtags %}
{% load event_tags %}
{% load planet_tags %}


{% block content %}

<div class="content-wrapper">
{% block beforemain %}{% endblock %}

<main id="main" class="container" role="main">

  {% block container %}

    <div class="row">

      <div class="col-md-8">
        {% block left-column %}{% endblock %}
      </div>

      <div class="col-md-4" style="margin-top:20px;">

        {% block right-column %}
          <!-- SeachBox -->


          <form id="search-form" class="input-group" role="form" action="{% url "buscador" %}" method="get">
              <input type="text" name="buscar" class="form-control input-lg" placeholder="Buscar...">
              <span class="input-group-btn">
                  <button class="btn btn-default btn-lg" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                  </button>
              </span>
          </form>


          <!-- Próximos eventos -->
          <section class="list-group">
              <header class="list-group-item">
                  <h3 class="list-group-item-heading">Eventos</h3>
              </header>

              {% next_events %}

          </section>

          <!-- Últimas noticias -->
          {% if not hide_sidebar_news %}
          <section class="list-group">
              <header class="list-group-item">
                  <h3 class="list-group-item-heading">Últimas noticias</h3>
              </header>
              {% for article in news %}
                  <article class="list-group-item">
                      <time class="published" datetime="{{ article.created.isoformat }}" itemprop="datePublished" title="{{ "Fecha de publicación" }}">{{ article.created|date:"d/m/Y" }}</time>
                      <h4 class="list-group-item-heading"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                      <p class="list-group-item-text">{{ article.introduction|default:article.body|html2text|truncatewords:25 }}</p>
                  </article>
              {% endfor %}
          </section>
          {% endif %}

          <!-- Planeta PyAr -->
          <section class="list-group">
              <header class="list-group-item">
                  <h3 class="list-group-item-heading">Planeta PyAr</h3>
              </header>
              {% latest_posts 5 as post_list %}
              {% for post in post_list %}
                  <article class="list-group-item">
                      <h4 class="list-group-item-heading">{{ post.title|safe }}</h4>
                      <p class="list-group-item-text">
                        <span class="text-muted">via: </span>&nbsp;
                        <span>{{ post.feed.blog }}</span>&nbsp;
                        <span class="text-muted">{{ post.date_modified|date:"d/M/Y H:i" }}.</span>
                      </p>
                  </article>
              {% endfor %}
          </section>
        {% endblock %} <!--/right-column-->
      </div>
    </div>
    {% endblock %} <!--/container-->
</main>
{% endblock %}
</div>
