<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-inline">
					<li><a href="#">Comunidad Python Argentina</a><br><a href="mailto:admin@python.org.ar">admin@python.org.ar</a></li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="list-inline pull-right">
					<li><a href="#">Sitio hosteado por USLA<br>Usuarios de Software libre de Argentina</a></li>
					<li><a href="#">Python<br>Powered</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
