<footer id="footer" class="container">
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-inline left">
                <li class="pyar"><a href="/">Comunidad Python Argentina</a><br><a href="mailto:admin@python.org.ar">admin@python.org.ar</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-inline right">
                <li class="usla"><a href="http://drupal.usla.org.ar/">Sitio hosteado por USLA<br>Usuarios de Software libre de Argentina</a></li>
                <li class="python"><a href="https://github.com/PyAr/pyarweb">Python<br>Powered</a></li>
            </ul>
        </div>
    </div>
</footer>
