{% load staticfiles i18n %}

{% load devtags %}

<header id="header" class="navbar navbar-static-top" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#header-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">PyAr</a>
                    <div class="loginreg">
                      {% if user.is_authenticated %}
                      Hola <a href="{{ user|wikify:"miembros/" }}">{{ user }}</a>. <a href="{% url 'account_logout' %}">{% trans 'Cerrar sesión' %}</a>
                      {% else %}
                      <a href="{% url 'account_login' %}">{% trans 'Ingresá' %}</a> o <a href="{% url 'account_signup' %}">{% trans 'Registrate' %}</a>
                      {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <nav id="header-navbar-collapse" class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/"><span class="inicio"></span>{% trans 'Inicio' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'about_pyar' %}"><span class="quienes_somos"></span>{% trans 'Nosotros' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'mailing_list' %}"><span class="navbar_lista_de_correo"></span>{% trans 'Lista' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'waliki_home' %}"><span class="wiki"></span>{% trans 'Wiki' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'news_list_all' %}"><span class="news"></span>{% trans 'Noticias' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'irc' %}"><span class="irc"></span>{% trans 'Chat' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'events:events_list_all' %}"><span class="eventos"></span>{% trans 'Eventos' %}</a>
                        </li>
                        <li>
                            <a href="http://planeta.python.org.ar/" target="_blank"><span class="pyar"></span>{% trans 'Planeta' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'jobs_list_all' %}"><span class="jobs"></span>{% trans 'Trabajos' %}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
