{% load staticfiles %}

<header id="header" class="navbar navbar-static-top" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#header-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">PyAr</a>
                    <div class="loginreg">
                      {% if user.is_authenticated %}
                      Bienvenido | <a href="/pyarenses/logout/">Cerrar sesión</a> 
                      {% else %}
                         <a href="/pyarenses/login/">¡Ingresar!</a> o <a href="/pyarenses/register/">¡Registrarse!</a>
                      {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <nav id="header-navbar-collapse" class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                                <span class="inicio"></span>
                                <a href="/">Página<br class="hidden-xs"> principal</a>
                        </li>
                        <li>
                                <span class="quienes_somos"></span>
                                <a href="{% url 'about_pyar' %}">Quienes<br class="hidden-xs"> somos</a>
                        </li>
                        <li>
                                <span class="news"></span>
                                <a href="{% url 'news_list_all' %}">Últimas<br class="hidden-xs"> noticias</a>
                        </li>
                        <li>
                                <span class="faqs"></span>
                                <a href="#">Preguntas<br class="hidden-xs"> frecuentes</a>
                        </li>
                        <li>
                                <span class="irc"></span>
                                <a href="{% url 'irc' %}">Chat<br class="hidden-xs"> IRC</a>
                        </li>
                        <li>
                                <span class="eventos"></span>
                                <a href="#">Próximos<br class="hidden-xs"> eventos</a>
                        </li>
                        <li>
                                <span class="pyar"></span>
                                <a href="#">Planeta<br class="hidden-xs"> PyAr</a>
                        </li>
                        <li>
                                <span class="jobs"></span>
                                <a href="#">Búsquedas<br class="hidden-xs"> laborales</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
