{% load staticfiles %}

<header id="header" class="navbar navbar-static-top" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#header-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">PyAr</a>
                    <div class="loginreg">
                      {% if user.is_authenticated %}
                      Bienvenido | <a href="{% url 'account_logout' %}">Cerrar sesión</a> 
                      {% else %}
                      <a href="{% url 'account_login' %}">¡Ingresar!</a> o <a href="{% url 'account_signup' %}">¡Registrarse!</a>
                      {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <nav id="header-navbar-collapse" class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/"><span class="inicio"></span>Página<br class="hidden-xs"> principal</a>
                        </li>
                        <li>
                            <a href="{% url 'about_pyar' %}"><span class="quienes_somos"></span>Quiénes<br class="hidden-xs"> somos</a>
                        </li>
                        <li>
                            <a href="{% url 'mailling_list' %}"><span class="navbar_lista_de_correo"></span>Lista de correo</a>
                        </li>
                        <li>
                            <a href="#"><span class="wiki"></span>Nuestra<br class="hidden-xs"> wiki</a>
                        </li>
                        <li>
                            <a href="{% url 'news_list_all' %}"><span class="news"></span>Últimas<br class="hidden-xs"> noticias</a>
                        </li>
                        <li>
                            <a href="{% url 'irc' %}"><span class="irc"></span>Chat<br class="hidden-xs"> IRC</a>
                        </li>
                        <li>
                            <a href="{% url 'events:events_list_all' %}"><span class="eventos"></span>Eventos<br class="hidden-xs"> &nbsp;</a>
                        </li>
                        <li>
                            <a href="{% url 'planet.views.posts_list' %}"><span class="pyar"></span>Planeta<br class="hidden-xs"> PyAr</a>
                        </li>
                        <li>
                            <a href="{% url 'jobs_list_all' %}"><span class="jobs"></span>Búsquedas<br class="hidden-xs"> laborales</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
