{% extends "base_site.html" %}
{% load devtags %}

{% block title_wrapper %}{% endblock %}

{% block beforemain %}
<div class="banner-wrapper">
    <div class="banner">
    <div class="container">
        <h1><span class="bigger">Comunidad</span> Python Argentina</h1>
        <p>Nuestro objetivo es nuclear a los usuarios de Python. Pretendemos llegar a personas y empresas, promover el uso de Python e intercambiar información.</p>
    </div>
    </div>
    <div class="ribbon">
    </div>
</div>
{% endblock %}

{% block left-column %}
    <section>
        <div class="row index-content">
            <article class="col-sm-4">
                <div class="img aprendiendo_python"></div>
                <h3 class="text-center"><a href="{% url 'aprendiendo' %}">Aprendiendo Python</a></h3>
                <p class="text-center">Recopilación de recursos que los miembros de PyAr consideramos útil para quienes que se inician en este lenguaje.</p>
            </article>
            <article class="col-sm-4">
                <div class="img lista_correo"></div>
                <h3 class="text-center"><a href="{% url 'mailing_list' %}">Lista de correo</a></h3>
                <p class="text-center">Instrucciones para suscribirte a nuestra lista, nuestro principal canal de comunicación.</p>
            </article>
            <article class="col-sm-4">
                <div class="img wiki"></div>
                <h3 class="text-center"><a href="{% url 'waliki_home' %}">Nuestra wiki</a></h3>
                <p class="text-center">El espacio de edición colaborativa de nuestra web</p>
            </article>
            </div>
            <div class="row">
            <article class="col-sm-4">
                <div class="img quienes_usan_python"></div>
                <h3 class="text-center"><a href="{% url "companies:company_list_all" %}">Quiénes usan Python</a></h3>
                <p class="text-center">Información sobre organizaciones que utilizan Python en Argentina.</p>
            </article>
            <article class="col-sm-4">
                <div class="img adopta_un_newbie"></div>
                <h3 class="text-center"><a href="{% url 'newbie.home' %}">Adopta un newbie</a></h3>
                <p class="text-center">Donde expertos y principiantes se encuentran</p>
            </article>
            <article class="col-sm-4">
                <div class="img proyectos_comunidad"></div>
                <h3 class="text-center"><a href="{% url 'projects_list_all' %}">Proyectos de la comunidad</a></h3>
                <p class="text-center">Los proyectos que desarrollamos como grupo o en los que participan nuestros miembros.</p>
            </article>
        </div>
    </section>

    <!-- Últimas noticias -->
    <section class="list-group">
        <header class="list-group-item">
            <h3 class="list-group-item-heading">Últimas noticias</h3>
        </header>
        {% for article in news %}
            <article class="list-group-item">
                <time class="published" datetime="{{ article.created.isoformat }}" itemprop="datePublished" title="{{ "Fecha de publicación" }}">{{ article.created|date:"d/m/Y" }}</time>
                <h4 class="list-group-item-heading"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                <p class="list-group-item-text">{{ article.introduction|default:article.body|html2text|truncatewords:25 }}</p>
            </article>
        {% endfor %}
    </section>

    <!-- jobs -->
    <section class="list-group">
          <header class="list-group-item">
              <h3 class="list-group-item-heading">Últimos trabajos</h3>
          </header>
          {% for job in jobs %}
              <article class="list-group-item">
                  <time class="published" datetime="{{ job.created.isoformat }}" itemprop="datePublished" title="{{ "Fecha de publicación" }}">{{ job.created|date:"d/m/Y" }}</time>
                  <h4 class="list-group-item-heading"><a href="{{ article.get_absolute_url }}">{{ job.title }}</a></h4>
                  <p class="list-group-item-text">{{ job.description|html2text|truncatewords:25 }}</p>
              </article>
          {% endfor %}
    </section>


    {# IMPLEMENTAR #}
    {% comment %}
    <!-- Estadísticas de la lista de correo -->

    <section class="list-group">
        <header class="list-group-item">
            <h3 class="list-group-item-heading">Estadísticas de la lista de correo</h3>
        </header>
        {% for i in 3|get_range %}
            <article class="list-group-item">
                <p class="list-group-item-text">Mensajes de esta semana: 212</p>
            </article>
        {% endfor %}
    </section>
    {% endcomment %}

{% endblock %}

{% block right-column %}
    <div class="index-right">
      {% with True as hide_sidebar_news %}
      {{ block.super }}
      {% endwith %}
    </div>
{% endblock %}
