{% extends "base_site.html" %}
{% load devtags %}

{% block beforemain %}
<div class="banner-wrapper">
    <div class="banner">
    <div class="container">
        <h1><span class="bigger">Comunidad</span> Python Argentina</h1>
        <p>Nuestro objetivo es nuclear a los usuarios de Python, de manera de centralizar la comunicación a nivel nacional. Pretendemos llegar a usuarios y empresas, promover el uso de Python, intercambiar información.</p>
    </div>
    </div>
    <div class="ribbon">
    </div>
</div>
{% endblock %}

{% block left-column %}
    <section>
        <div class="row index-content">
            <article class="col-sm-4">
                <div class="img aprendiendo_python"></div>
                <h3 class="text-center">Aprendiendo Python</h3>
                <p class="text-center">Recopilación de links y material que los miembros de PyAr consideramos útil para aquellos que se inician en este lenguaje.</p>
            </article>
            <article class="col-sm-4">
                <div class="img proyectos_comunidad"></div>
                <h3 class="text-center"><a href="{% url 'projects_list_all' %}">Proyectos de la comunidad</a></h3>
                <p class="text-center">Información sobre los proyectos que encaramos como grupo, o en los que participan nuestros miembros.</p>
            </article>
            <article class="col-sm-4">
                <div class="img lista_correo"></div>
                <h3 class="text-center"><a href="{% url 'mailling_list' %}">Lista de correo</a></h3>
                <p class="text-center">Instrucciones para suscribirte a nuestra lista, hoy por hoy, nuestro principal canal de comunicación. (feed rss disponible).</p>
            </article>
            </div>
            <div class="row">
            <article class="col-sm-4">
                <div class="img quienes_usan_python"></div>
                <h3 class="text-center"><a href="/companies">Quiénes usan Python</a></h3>
                <p class="text-center">Información sobre organizaciones que utilizan Python en Argentina.</p>
            </article>
            <article class="col-sm-4">
                <div class="img wiki"></div>
                <h3 class="text-center"><a href="/companies">Nuestra wiki</a></h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
            </article>
            <article class="col-sm-4">
                <div class="img adopta_un_newbie"></div>
                <h3 class="text-center"><a href="/companies">Adopta un newbie</a></h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>
            </article>
        </div>
    </section>

    <!-- Últimas noticias -->
    <section class="list-group">
        <header class="list-group-item">
            <h3 class="list-group-item-heading">Últimas noticias</h3>
        </header>
        {% for i in 3|get_range %} 
            <article class="list-group-item">
                <h4 class="list-group-item-heading">Call for charlas - PyCon 2012</h4>
                <p class="list-group-item-text">Python Argentina se enorgullece de anunciar que está abierto el periodo de recepción de propuestas para PyCon Argentina 2012, con fecha límite 30 de junio de 2012. Más información e intrucciones para el envío, aqui.</p>
            </article>
        {% endfor %}
    </section>

    <!-- Estadísticas de la lista de correo -->
    <section class="list-group">
        <header class="list-group-item">
            <h3 class="list-group-item-heading">Estadísticas de la lista de correo</h3>
        </header>
        {% for i in 3|get_range %} 
            <article class="list-group-item">
                <p class="list-group-item-text">Mensajes de esta semana: 212</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block right-column %}
    <div class="index-right">
        {{ block.super }}
    </div>
{% endblock %}
