/*
 * General
 */

body {
    background-color: #f4f4f4;
}

a.http:before {
        content: url(/static/img/moin-www.png);
        margin: 0 0.2em;
}

/*
 * Main
 */

#main {
    background: #fff;
    border-radius: 8px 8px 0 0;
    padding: 20px 20px 10px;
}

#main > div.row > div.col-md-8 div.row > article.col-sm-4 > div.img {
        background-image: url(/static/img/icons/icons.png);
        height: 62px;
        width: 62px;
        margin: 0 auto;
}


#main > div.row > div.col-md-8 div.row > article.col-sm-4 > div.img.aprendiendo_python {
        background-position: 195px 0;
}

#main > div.row > div.col-md-8 div.row > article.col-sm-4 > div.img.proyectos_comunidad {
        background-position: 62px 0;
}

#main > div.row > div.col-md-8 div.row > article.col-sm-4 > div.img.lista_correo {
        background-position: 128px 0;
}

/*
 * Ribbon
 */

/*
#ribbon {
	top: 140px;
	left: -48px;
	width: 100%;
	height: 137px;
	padding-left: 17px;
	position: absolute;
	background-color: #39ade6;
}

#ribbon:after {
	right:0;
	bottom:-25px;
	width: 41px;
	height: 25px;
	content: "";
	position: absolute;
	background: url(/static/img/ribbon.png);
}
*/

/*
 * Search
 */

iframe#google {
	border:0;
	margin:0;
	padding:0;
	width: 100%;
}

#search-form {
    margin-bottom: 20px;
}

#search-form input {
    color: #999;
    font-weight: bold;
    background: #eee;
    border-color: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#search-form button {
    background: #ccc;
    color: #fff;
}

#searchResult div.modal-body {
	padding-top:0;
}


/*
 * Panels
 */

.list-group-item {
    background: #eee;
    border: 1px solid #fff;
}

.list-group-item:first-child {
    padding-top: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
	background:#f4f4f4;
}

.list-group {
	margin-top:20px;
}

.list-group-item-heading {
    font-weight:bold;
}

h3.list-group-item-heading {
    color: #f0a513;
}

h4.list-group-item-heading {
    color: #2ca8e4;
}

/*
 * Header
 */

#header {
	margin-bottom: 10px;
}

/*
 * Navbar
 */

.navbar-header div.loginreg {
	text-align: center;
	margin-top: 38px;
}
.banner {
    padding: 0px 20px;
    background: 0 0 repeat #35679A url(../img/banner.png);
}
.banner p {
    font-size: 15px;
    text-shadow: 0px 0px 4px #444;
    vertical-align: bottom;
}
.banner h1 {
    text-shadow: 0px 0px 4px #777;
    font-size: 30px;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 95px;
    background: url(../img/python-banner.png) 0 0 no-repeat transparent;
    height: 96px;
}
.banner .bigger {
    font-size: 38px;
    display: block;
}
.banner-wrapper {
    color: white;
}
@media (min-width: 768px) {
	.navbar-header div.loginreg {
		float: left;
	}
    .banner h1, .banner p {
        display: inline-block;
    }
}
@media (min-width: 992px) {
	.navbar-header div.loginreg {
		margin-top:0;
	}
    .banner-wrapper {
       color: white;
       width: 100%;
       position: absolute;
       top: 150px;
    }
    .banner {
        height:137px;
        width: 100%;
        left: 0;
    }
    .index-content, .index-right {
       margin-top: 170px;
    }
    .banner h1 {
        margin-right: 20px;
        font-size: 35px;
    }
    .banner .bigger {
        font-size: 42px;
    }
    .banner p {
        width: 400px;
    }
}
@media (min-width: 1290px) {
    .banner-wrapper {
       width: calc(100% - (100% - 1170px)/2 + 41px);
       height: 162px;
    }
    .banner .container {
        position: absolute;
        right: 41px;
    }
    .ribbon {
        width: 41px;
        height: 25px;
        background-image: url(../img/ribbon.png);
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}

#header .navbar-brand {
	width: 195px;
	height: 96px;
	display: block;
	text-indent: -9999px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/static/img/logo-header.png);
}

#header button.navbar-toggle {
	margin-top: 30px;
	background-color: #2ca8e4;
}

#header button.navbar-toggle .icon-bar {
	background-color: #fff;
}

#header-navbar-collapse {
	margin-right: -15px;
}

@media (min-width: 768px) {
	#header-navbar-collapse {
		margin-left: -15px;
	}
}

#header-navbar-collapse > ul {
	margin-right: 0;
}

@media (min-width: 768px) {
	#header-navbar-collapse > ul {
		width: 100%;
	}
}

#header ul.navbar-nav > li {
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #fff;
	border-bottom: 4px solid #fff;
}

#header ul.navbar-nav > li > span {
        display:block;
        height:25px;
        margin:0 auto;
}

#header ul.navbar-nav > li:not(.active) > span {
        background-image: url(/static/img/icons/icons.png);
}

#header ul.navbar-nav > li.active > span,
#header ul.navbar-nav > li:hover > span {
        background-image: url(/static/img/icons/icons_active.png);
}

#header ul.navbar-nav > li > span.inicio {
        width: 25px;
        background-position: -31px 25px;
}

#header ul.navbar-nav > li > span.quienes_somos {
        width: 25px;
        background-position: 0 25px;
}
#header ul.navbar-nav > li > span.wiki {
        width: 25px;
        background-position: 0 25px;
}
#header ul.navbar-nav > li > span.news {
        width: 26px;
        background-position: -206px 25px;
}

#header ul.navbar-nav > li > span.faqs {
        width: 18px;
        background-position: -98px 25px;
}

#header ul.navbar-nav > li > span.irc {
        width: 31px;
        background-position: -61px 25px;
}

#header ul.navbar-nav > li > span.eventos {
        width: 19px;
        background-position: -151px 25px;
}

#header ul.navbar-nav > li > span.pyar {
        width: 26px;
        background-position: -175px 25px;
}

#header ul.navbar-nav > li > span.jobs {
        width: 24px;
        background-position: -121px 25px;
}

@media (min-width: 768px) {
	#header ul.navbar-nav > li {
		padding-top: 15px;
		padding-bottom: 10px;
		background-color: #fff;
		border-left: 1px solid #f4f4f4;
		border-bottom: 6px solid #fff;
	}
}

#header ul.navbar-nav > li:first-child {
	border-left: 0;
}

@media (min-width: 768px) {
	#header ul.navbar-nav > li {
		width: 11.11%;
	}
}

#header ul.navbar-nav > li > a {
	padding: 0;
	color: #fb8b00;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#header ul.navbar-nav > li > a:hover {
	background-color: transparent;
}

#header ul.navbar-nav > li.active,
#header ul.navbar-nav > li:hover {
	background-color: #39ade6;
	border-bottom: 4px solid #fdca01;
}

@media (min-width: 768px) {
	#header ul.navbar-nav > li.active,
	#header ul.navbar-nav > li:hover {
		border-bottom: 6px solid #fdca01;
	}
}

#header ul.navbar-nav > li.active > a,
#header ul.navbar-nav > li:hover > a {
	color: #fff;
}

/*
 *
 */

h3 {
	color:#35679a;
	font-weight: bold;
}

/*
 * Footer
 */

#footer {
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #f4f4f4;
}

#footer a {
	color: #808080;
	font-size: 11px;
}

@media (min-width: 768px) {
	#footer ul.right {
		float: right;
	}
}

#footer li {
	line-height: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footer li.pyar {
	padding-left: 100px;
	background-position: 0 center;
	background-repeat: no-repeat;
	background-image: url(/static/img/pyar-footer.png);
}

#footer li.usla {
	text-align: right;
	padding-right: 80px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(/static/img/usla-footer.png);
}

#footer li.python {
	text-align: right;
	margin-left: 25px;
	padding-right: 52px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(/static/img/python-footer.png);
}

/*
 * Inputs and forms
 */

form.form-signin,
form.form-signup {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 35px;
}

input[type="text"]:not(.form-control),
input[type="password"]:not(.form-control),
input[type="email"]:not(.form-control),
input[type="url"]:not(.form-control),
textarea:not(.form-control) {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="text"]:not(.form-control):focus,
input[type="password"]:not(.form-control):focus,
input[type="email"]:not(.form-control):focus,
input[type="url"]:not(.form-control):focus,
textarea:not(.form-control):focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

textarea:not(.form-control) {
        height:auto;
}
.job-date {
    font-size: 14px;
    margin-left: 10px;
    color: #999;
}
.job_tag {
    background-color: #999;
    padding: 2px 15px;
    font-weight: normal;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.job_tag.excluded {
    background-color: red;
}
.job_tag.included {
    background-color: green;
}


time.published {
    font-size: 0.8em;
    color: #666;
}