body {
	background:#f4f4f4;
}

.nav-bar {
	background:transparent;
}

.navbar-header .navbar-brand {
	position: relative;
	left: 50%;
}

.navbar-nav>li {
	background-color:#fff;
	width:105px;
	height:96px;
	border-left:1px solid #f4f4f4;
	border-right:1px solid #f4f4f4;
	border-bottom:1px solid #fbfbfb;
	text-align:center;
	padding:42px 10px;
	padding-bottom:0;
}

.navbar-nav>li.active {
	background-color:#39ade6;
	border-left-color:#76c6ee;
	border-right-color:#76c6ee;
	border-bottom:6px solid #fdca01;
}

.navbar-nav>li>a {
	font-weight:bold;
	color:#fb8b00;
	/*padding:10px 0;*/
	padding:0;
	word-break: break-word;
	font-size: 15px;
}

.navbar-nav>li.active>a {
	color:#fff;
}

.navbar-nav>li>a:hover {
	background:none;
}


div.container {
	
}

main > div.container {
	background: #fff;
	padding-top: 28px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 8px 15px 0 #ccc;
}

main > div.container > div.row {
	padding-top: 158px;
	padding-bottom: 20px;
}


form.input-group.search {
	margin-bottom:20px;
}

form.input-group.search input {
	background:#eee;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	color:#cccccf;
	font-weight:bold;
	border-color:#eee;
}

form.input-group.search span.input-group-btn button.btn {
	background:#cccccf;
	color:#fff;
}

h3 {
	color:#35679a;
}

.list-group {
	margin-top:20px;
}

h3.list-group-item-heading {
	color:#f0a513;
}

h4.list-group-item-heading {
	color:#2ca8e4;
}

.list-group-item-heading {
	font-weight:bold;
}

.list-group-item {
	border:1px solid #fff;
	background:#eee;
}

div.ribbon {
	height:139px;
	background:#39ade6;
	padding-left:17px;
	position:absolute;
	width:100%;
	left:-17px;
	z-index:1;
}

div.ribbon:after {
	background: url(/static/img/ribbon.png);
	height: 25px;
	width: 41px;
	content: "";
	position:absolute;
	right:0;
	bottom:-25px;
}



div.shadows {
	margin: 0 -30px;
}

div.shadows div.shadow1 {
	box-shadow: 0 -7px 15px 0 #ddd; 
	height: 15px; 
	position: relative;
	width: 100%;
}

footer {
	background: #f4f4f4
}

footer div.container {
	background: #f4f4f4;
	margin-top: -15px;
	padding: 25px 15px;
}

footer div.container div.row div.col-md-6 a {
	color:#888;
	font-size:13px;
}

footer div.container div.row div.col-md-6.pyar {
	padding-left: 120px;
	background-image: url(/static/img/pyar-footer.png);
	background-repeat: no-repeat;
	background-position: 15px 0;
}

footer div.container div.row div.col-md-6 ul li.usla {
	padding-right: 75px;
	background-image: url(/static/img/usla-footer.png);
	background-repeat: no-repeat;
	background-position: right center;
	text-align: right;
}

footer div.container div.row div.col-md-6 ul li.python {
	padding-right: 47px;
	background-image: url(/static/img/python-footer.png);
	background-repeat: no-repeat;
	background-position: right center;
	text-align: right;
	margin-left: 24px;
}
