body {
    background-color: #f4f4f4;
}

#main {
    background: #fff;
    border-radius: 8px;
    padding: 30px 20px 10px;
}

/*
 * Search form
 */

#search-form {
    margin-bottom: 20px;
}

#search-form input {
    color: #ccc;
    font-weight: bold;
    background: #eee;
    border-color: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#search-form button {
    background: #ccc;
    color: #fff;
}

/*
 * Panels
 */

.list-group-item {
    background: #eee;
    border: 1px solid #fff;
}

.list-group-item:first-child {
    padding-top: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.list-group-item-heading {
    font-weight:bold;
}

h3.list-group-item-heading {
    color: #f0a513;
}

h4.list-group-item-heading {
    color: #2ca8e4;
}

/*
 * NavBar
 */
 
.nav-bar {
	background:transparent;
}

.navbar-header .navbar-brand {
	position: relative;
	left: 50%;
}

.navbar-nav>li {
	background-color:#fff;
	width:105px;
	height:96px;
	border-left:1px solid #f4f4f4;
	border-right:1px solid #f4f4f4;
	border-bottom:1px solid #fbfbfb;
	text-align:center;
	padding:42px 10px;
	padding-bottom:0;
}

.navbar-nav>li.active {
	background-color:#39ade6;
	border-left-color:#76c6ee;
	border-right-color:#76c6ee;
	border-bottom:6px solid #fdca01;
}

.navbar-nav>li>a {
	font-weight:bold;
	color:#fb8b00;
	/*padding:10px 0;*/
	padding:0;
	word-break: break-word;
	font-size: 15px;
}

.navbar-nav>li.active>a {
	color:#fff;
}

.navbar-nav>li>a:hover {
	background:none;
}

