body {
    background-color: #f4f4f4;
}

#main {
    background: #fff;
    border-radius: 8px;
    padding: 30px 20px 10px;
}

/*
 * Search form
 */

#search-form {
    margin-bottom: 20px;
}

#search-form input {
    color: #ccc;
    font-weight: bold;
    background: #eee;
    border-color: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#search-form button {
    background: #ccc;
    color: #fff;
}

/*
 * Panels
 */

.list-group-item {
    background: #eee;
    border: 1px solid #fff;
}

.list-group-item:first-child {
    padding-top: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.list-group-item-heading {
    font-weight:bold;
}

h3.list-group-item-heading {
    color: #f0a513;
}

h4.list-group-item-heading {
    color: #2ca8e4;
}
