{% extends "base_site.html" %}


{% block left-column %} 


{% regroup faqs by topic as topic_list %}

<div class="panel panel-default">
  <div class="panel-body">
    <ol>
{% for topic in topic_list %}
    <li>{{ topic.grouper.name }}
    <ol>
        {% for question in topic.list %}
          <li>
            <a href="{{ question.slug }}">{{ question.text }}</a>
          </li>
        {% endfor %}
    </ol>
    </li>
{% endfor %}
</ol>
  </div>
</div>


<ol>
{% for topic in topic_list %}
  <li>
    <h2>{{ topic.grouper.name }}</h2>
    <ol>
      {% for question in topic.list %}
      <li id="{{ question.slug }}">
          <h3>{{ question.text }}</h3>
          <p>{{ question.answer }}</p>
      </li>
      {% endfor %}
    </ol>
  </li>
{% endfor %}
</ol>
{% endblock %}
