{% extends "base.html" %}
{% load devtags %}
{% load i18n static pagination_tags %}
{% block title %}Ofertas laborales con Python{% endblock %}

{% block extra_head %}
 {{ search_form.media }}
{% endblock %}

{% block content %}
<!-- Lista de trabajos -->
<main id="main" class="joboffers container" role="main"
  <section>
    <div class="page-header">
      <h2>{% trans 'Ofertas de trabajo de ' %} {{ company.name }}</h2>
    </div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <form id="filter-form" class="navbar-form navbar-right" method="GET" novalidate>
          <div class="form-group">
            {{ search_form.q }}
          </div>
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
          <div style="height: 1.5em;">
            {{ search_form.tags }}
          </div>
        </form>
      </div>
    </nav>

    {% if object_list %}
    <div class="list-group">
      {% for object in object_list %}
      <a href="{{ object.get_absolute_url }}" class="list-group-item">
        <h4 class="text-primary">
          {{ object.title }}<span class="job-date">({{ object.modified_at|date:"SHORT_DATE_FORMAT" }}, {{ object.location }})</span>
        </h4>
        <p>{{ object.description|html2text|truncatewords:50 }}</p>
        <div class="text-right">
          {% include "joboffers/_tags.html" %}
        </div>
      </a>
      {% endfor %}
    </div>

    {% paginate %}
    {% else %}
    <div class="col-md-12">
      <p>{% trans 'No hay ofertas cargadas actualmente.' %}</p>
    </div>
    {% endif %}
    <div class="section-button-group pull-right">
      <a href="{% url 'joboffers:add' %}" class="btn btn-info">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        {% trans 'Nueva Oferta' %}
      </a>
      </div>
  </section>

</main>
{% endblock %}
