{% extends "base.html" %}
{% load i18n %}
{% load email_obfuscator %}
{% load devtags %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<main id="main" class="joboffers container" role="main">

    <div class="col-lg-12">

      <div class="page-header">
        <h2>{{ object.title }}</h2>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div>
              {{ object.description|safe }}
          </div>
          <div class="text-right">
            {% include "joboffers/_tags.html" %}
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default panel-primary">
            <div class="panel-heading"><strong>Datos de la oferta laboral</strong></div>
            <div class="panel-body">
               <article class="list-group-item">
                {% include 'joboffers/joboffer_overview.html' with obj=object %}
               </article>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="pull-right">
      {% for button in action_buttons %}
      <a href="{% url button.target_url object.slug %}" class="btn {{ button.css_classes|join:' ' }}" >
        {{ button.text }}
        <span class="glyphicon {{ button.icon_class }}" aria-hidden="true"></span>
      </a>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
