{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load devtags %}

{% block extra_head %}
<script type="text/javascript">
// Taken from jquery.init.js from django/admin
/* El plguin que sugiere tags (django-taggit-autosuggest) está pensado para funcionar
en el admin de django, entonces espera que django.jQuery esté definido.
*/
var django = {
    "jQuery": jQuery.noConflict(true)
};
var jQuery = django.jQuery;
var $=jQuery;
</script>
{% endblock %}

{% block content %}
<main id="main" class="joboffer container" role="main">
    <div class="col-lg-12">
	    <div class="page-header">
	    	<h2>{% if form.instance.id %}
	    			{% trans 'Actualizando información' %}
	    		{% else %}
	    			{% trans 'Agregar un nuevo empleo' %}
	    		{% endif %}
	    	</h2>
	    </div>
	    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	    {% crispy form %}
	</div>
</main>
{% endblock %}
