{% extends "base.html" %}
{% load i18n %}
{% load devtags %}
{% load history %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<main id="main" class="container" role="main">

    <div class="col-lg-12">

      <div class="page-header">
        <h2>Historial de «{{ object.title }}» </h2>
      </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for history_entry in object_list %}
          <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                  <div class="row" role="button" data-toggle="collapse" href="#change-{{ forloop.counter }}" aria-expanded="false" aria-controls="change-{{ forloop.counter }}">
                    <div class="col-xs-11">
                      <div class="row">
                        <div class="col-xs-3">
                          <span class="glyphicon glyphicon-user"></span> <strong>{{ history_entry.user }}</strong>
                        </div>
                        <div class="col-xs-3">
                          <small>
                            Cambió <strong>5</strong> campos
                          </small>
                        </div>
                        <div class="col-xs-3">
                          {% if history_entry.content_type.model == "joboffer" %}
                          <span>{{ history_entry.get_event_type_display | upper }}</span>
                          {% else %}
                          COMMENT
                          {% endif %}
                        </div>
                        <div class="col-xs-3 text-right">
                          <small>{{ history_entry.datetime | date:"SHORT_DATE_FORMAT" }}</small>
                          <small>{{ history_entry.datetime | date:"H:m:s" }}</small>
                      </div>
                      </div>
                    </div>
                    <div class="col-xs-1 text-right">
                      <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                  </div>
              </div>
              <div id="change-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    {% if history_entry.content_type.model == "joboffer" %}
                      {% if history_entry.event_type == JobOfferHistory.CREATE %}
                        <div class="row field-definitions">
                          {% for field_item in history_entry.fields.items %}
                            {% if field_item.0 not in HIDDEN_JOBOFFER_FIELDS %}
                              {% if field_item.0 == 'description' %}
                                <div class="field col-xs-12">
                                  <div class="field-name">{{ field_item | verbose_name }}</div>
                                  <div>{{ field_item | value | safe }}</div>
                                </div>
                              {% else %}
                                <div class="field col-xs-12 col-sm-4">
                                  <div class="field-name">{{ field_item | verbose_name }}</div>
                                  <div>{{ field_item | value | default:"-" }}</div>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}

                      {% for field_update in history_entry.changes.items %}
                          <div class="row field-definitions equal-height">
                            {% with field_item=field_update|get_old_field_item %}
                            <div class="field col-xs-5">
                              <div class="field-name">{{ field_item | verbose_name }}</div>
                                {% if field_item.0 == 'description' %}
                                  <div class="field-update bg-danger">{{ field_item | value | safe }}</div>
                                {% else %}
                                  <div class="field-update bg-danger">{{ field_item | value | default:"-" }}</div>
                                {% endif %}
                            </div>
                            {% endwith %}
                            <div class="col-xs-2 text-center v-center">
                              <span class="glyphicon glyphicon-arrow-right"></span>
                            </div>
                            {% with field_item=field_update|get_new_field_item %}
                              <div class="field col-xs-5">
                                <div class="field-name">{{ field_item | verbose_name }}</div>
                                {% if field_item.0 == 'description' %}
                                  <div class="field-update bg-success">{{ field_item | value | safe }}</div>
                                {% else %}
                                  <div class="field-update bg-success">{{ field_item | value | default:"-" }}</div>
                                {% endif %}
                              </div>
                            {% endwith %}
                          </div>
                      {% endfor %}
                    {% else %}
                      <div class="list-group-item">
                        comment_type: <span class="label label-default">{{ history_entry.fields.0.fields.comment_type }}</span>
                      </div>
                      <div class="list-group-item">
                        text: <span class="label label-default">{{ fields.0.fields.text }}</span>
                      </div>
                    {% endif %}
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>

    </div>
</main>
{% endblock %}
