{% with id=widget.attrs.id %}
    <div{% if id %} id="{{ id }}"{% endif %} class="search-form-tags" {% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                {% if option.selected %}
                  <label class="label label-primary">
                    <span aria-hidden="true">&times;</span>
                    {{ option.label }}
                    {% include "django/forms/widgets/input.html" with widget=option %}
                  </label>
                {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
{% endwith %}
