{% extends "base_site.html" %}
{% load devtags %}

{% block left-column %}
    <!-- Últimas noticias -->
    <section class="list-group">
        <header class="list-group-item">
            <h3 class="list-group-item-heading">Últimas noticias
              {% if user.is_authenticated %}
                | <a href="{% url 'news_add' %}"><small>Agregar</small></a>
              {% endif %}
            </h3>
        </header>
        {% for newArticle in news %} 
            <article class="list-group-item">
              <h4 class="list-group-item-heading">
                <a href="{% url 'news_view' newArticle.id %}">
                  {{ newArticle.title }}
                </a>
              </h4>
              <p class="list-group-item-text">{{ newArticle.body|slice:":200" }} ...</p>
              <blockquote>
                <footer>
                  {{ newArticle.modified }} por {{ newArticle.owner}} 
                  {% if newArticle.owner == user %}
                    <a href="{% url 'news_delete' newArticle.id %}">Borrar</a> | 
                    <a href="{% url 'news_update' newArticle.id %}">Modificar</a>
                  {% endif %}
                </footer>
              </blockquote>
            </article>
        {% endfor %}
    </section>
    <!-- pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if news.has_previous %}
                <a href="?page={{ news.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ news.number }} of {{ news.paginator.num_pages }}.
            </span>

            {% if news.has_next %}
                <a href="?page={{ news.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
