{% extends "base_site.html" %}
{% load devtags %}

{% block left-column %}
    <!-- Últimas noticias -->
    <section class="list-group">
        <header class="list-group-item">
            <h3 class="list-group-item-heading">Últimas noticias
              {% if user.is_authenticated %}
                | <a href="{% url 'news_add' %}"><small>Agregar</small></a>
              {% endif %}
            </h3>
        </header>
        {% for newArticle in news %} 
            <article class="list-group-item">
              <h4 class="list-group-item-heading">
                <a href="{% url 'news_view' newArticle.id %}">
                  {{ newArticle.title }}
                </a>
              </h4>
              <p class="list-group-item-text">{{ newArticle.body|slice:":200"|striptags}} ...</p>
              <blockquote>
                <footer>
                  {{ newArticle.modified }} por {{ newArticle.owner}} 
                  {% if newArticle.owner == user %}
                    <a href="{% url 'news_delete' newArticle.id %}">Borrar</a> | 
                    <a href="{% url 'news_update' newArticle.id %}">Modificar</a>
                  {% endif %}
                </footer>
              </blockquote>
            </article>
        {% endfor %}
    </section>
    <!-- pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if news.has_previous %}
                <a href="?page={{ news.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ news.number }} of {{ news.paginator.num_pages }}.
            </span>

            {% if news.has_next %}
                <a href="?page={{ news.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
{% block right-column %}
<section class="list-group">
    <header class="list-group-item">
        <h3 class="list-group-item-heading">Filtrar por</h3>
    </header>
    <form method="get">
        {% csrf_token %}
        {% for tag in tags %}
        <select name="tag_{{ tag.name }}" id="tag_{{ tag.name }}" class="hidden">
            <option value="0"></option>
            <option value="1" {% if tag.name in included %}selected{% endif %}></option>
            <option value="2" {% if tag.name in excluded %}selected{% endif %}></option>
        </select>
        <label for="tag_{{ tag.name }}" class="job_tag {% if tag.name in included %}included{% elif tag.name in excluded%}excluded{% endif %}">
            {{ tag.name }}
        </label>
        {% endfor %}
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <button type="button" class="btn btn-default">Borrar</button>
        </div>
    </form>
    <script type="text/javascript">
    $('.job_tag').click(function() {
        var $select = $('#' + $(this).attr('for')),
        newValue;
        if (!$select.val() || $select.val() > 1) {
            newValue = 0;
            $(this).removeClass('excluded').removeClass('included');
        }
        else {
            newValue = parseInt($select.val()) + 1;
            if (newValue === 1) {
                $(this).removeClass('excluded').addClass('included');
            }
            else {
                $(this).removeClass('included').addClass('excluded');
            }
        }
        $select.val(newValue);
    });
    </script>
</section>
{% endblock %}
