{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load devtags %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">
	    <div class="page-header">
	    	<h2>{% if form.instance.id %}
	    			{% trans 'Editar noticia' %}
	    		{% else %}
	    			{% trans 'Agregar noticia' %}
	    		{% endif %}
	    	</h2>
	    </div>
	    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	    {% crispy form %}
	</div>
</main>
{% endblock %}