{% extends "base_site.html" %}
{% load devtags i18n staticfiles pagination_tags %}

{% block title %}
  Noticias de 
{% endblock %}

{% block left-column %}
<!-- Últimas noticias -->
<section>
    <div class="col-md-12">
        <div class="page-header">
            <h2>{% trans 'Noticias' %}
              {% if user.is_authenticated %}
                <span class="section-button-group pull-right">
                    <a href="{% url 'news_add' %}" class="btn btn-info">{% trans 'Agregar noticia' %}</a>
                </span>
              {% endif %}
            </h2>
        </div>
        {% if object_list %}
            {% for object in object_list %}
            <article class="board-list-item">
                <h4>
                    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>  <span class="job-date">({{ object.modified|date:"d/m/y" }})</span>
                </h4>
                <p>
                    {{ object.introduction }}
                </p>
                <div class="text-muted">{% trans 'Etiquetas:' %}{% for t in object.tags.all %}<a href="{% url 'news_tags_list' tag=t.name %}" class="label label-default">{{ t.name }}</a>{% endfor %}</div>
                <p><a href="{{ object.get_absolute_url }}">{% trans 'Leer más...' %}</a></p>
            </article>
            {% endfor %}
            {% paginate %}
        {% else %}
            <div class="col-md-12">
                <p>{% trans 'La búsqueda no produjo resultados.' %}</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block right-column %}
  {{ block.super }} 
  {% include "_tags_filtering_form.html" %}
{% endblock %}
