{% extends "base.html" %}
{% load i18n %}
{% load email_obfuscator %}
{% load devtags %}
{% block title %}
  {{ object.title }}
{% endblock title %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>
          {{ object.title }}
          <span class="pull-right">
            {% if object.owner == user %}
            <a href="{% url 'news_update' object.id %}" class="btn btn-info">{% trans 'Editar' %}</a>
            <a href="{% url 'news_delete' object.id %}" class="btn btn-danger">{% trans 'Borrar' %}</a>
            {% endif %}
          </span>
        </h2>
        <div class="tags">
          <small>{{ object.created|date:"SHORT_DATE_FORMAT" }} -{# <strong>{{ object.owner }}</strong> #}</small>
          <p>
              {% include "news/_news_tags.html" %}
          </p>
        </div>
      </div>
      <article>
        <p>{% autoescape off %}{{ object.body|linebreaks|safe }}{% endautoescape %}</p>
      </article>
  </div>
</main>
{% endblock %}
