{% extends "base_site.html" %}
{% load devtags i18n staticfiles pagination_tags %}

{% block title %}Noticias {% endblock %}

{% block left-column %}
<!-- Últimas noticias -->
<section>
    <div class="col-md-12">
        <div class="page-header">
            <h2>{% trans 'Noticias' %}
                <span class="section-button-group pull-right">
                    <a href="{% url 'news_add' %}" class="btn btn-info">{% trans 'Publicar una noticia' %}</a>
                </span>
            </h2>
        </div>
        {% if object_list %}
            {% for object in object_list %}
                <h4>
                    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>  <span class="job-date">({{ object.modified|date:"SHORT_DATE_FORMAT" }})</span>
                </h4>
                <p>
                    {{ object.introduction|html2text|truncatewords:50 }}
                </p>
                <div class="text-muted">
                {% include "news/_news_tags.html" %}
                <p><a href="{{ object.get_absolute_url }}">{% trans 'Leer más...' %}</a></p>
            {% endfor %}
            {% paginate %}
        {% else %}
            <div class="col-md-12">
                <p>{% trans 'La búsqueda no produjo resultados.' %}</p>
            </div>
        {% endif %}




            <div class="pull-right">
                <a href="{% url 'news_feed' %}" class="badge">
                    <i class="fa fa-rss"></i> RSS
                </a>
           </div>
    </div>
</section>
{% endblock %}

{% block right-column %}
  {% with True as hide_sidebar_news %}
  {{ block.super }}
  {% endwith %}
  {% include "_tags_filtering_form.html" %}
{% endblock %}
