{% extends "base.html" %}
{% load disqus_tags %}
{% disqus_dev %}

{% load devtags %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="row">
        <div class="col-md-12">
            <section class="list-group">
                <header class="list-group-item">
                  <h3 class="list-group-item-heading">
                    {{ newArticle.title }} | <small><a href="{% url 'news_list_all' %}">Volver</a></small>
                  </h3>
                </header>
                <article class="list-group-item">
                  <p class="list-group-item-text">{{ newArticle.body }}</p>
                  <blockquote>
                    <footer>
                      {{ newArticle.modified }} por {{ newArticle.owner}} 
                      {% if newArticle.owner == user %}
                        <a href="{% url 'news_delete' newArticle.id %}">Borrar</a> | 
                        <a href="{% url 'news_update' newArticle.id %}">Modificar</a>
                      {% endif %}
                    </footer>
                  </blockquote>
                </article>
            </section>
            {% disqus_show_comments %}
        </div>
    </div>
</main>
{% endblock %}
