{% extends "base.html" %}

{% block content %}
<main role="main">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<section>
					<div class="row">
						<article class="col-md-6">
							<h3 class="text-center">Aprendiendo Python</h3>
							<p class="text-center">Recopilación de links y material que los miembros de PyAr consideramos útil para aquellos que se inician en este lenguaje.</p>
						</article>
						<article class="col-md-6">
							<h3 class="text-center">Proyectos de la comunidad</h3>
							<p class="text-center">Información sobre los proyectos que encaramos como grupo, o en los que participan nuestros miembros.</p>
						</article>
					</div>
					<div class="row">
						<article class="col-md-6">
							<h3 class="text-center">Lista de correo</h3>
							<p class="text-center">Instrucciones para suscribirte a nuestra lista, hoy por hoy, nuestro principal canal de comunicación. (feed rss disponible).</p>
						</article>
						<article class="col-md-6">
							<h3 class="text-center">Quienes usan Python</h3>
							<p class="text-center">Información sobre organizaciones que utilizan Python en Argentina.</p>
						</article>
					</div>
				</section>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
</main>
{% endblock %}
