{% extends "base.html" %}

{% load devtags %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="row">
        <div class="col-md-7">
            <h2>¿Donde viven los miembros de PyAr ?</h2>
            <p><a class="http" href="http://maps.google.com/maps/ms?hl=en&amp;ptab=2&amp;ie=UTF8&amp;t=h&amp;msa=0&amp;msid=117626973029192648931.000447d968ea4d494125a&amp;ll=-39.774769,-57.216797&amp;spn=40.500047,77.607422&amp;z=4">Agregate al mapa</a></p>
            <p>
                <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ar/maps/ms?hl=es&amp;ll=-39.774769%2C-57.216797&amp;t=h&amp;spn=40.500047%2C77.607422&amp;output=embed&amp;z=4&amp;ie=UTF8&amp;msa=0&amp;msid=117626973029192648931.000447d968ea4d494125a"></iframe>
                <br>
                <a class="http" href="http://maps.google.com.ar/maps/ms?hl=es&ll=-39.774769%2C-57.216797&source=embed&t=h&spn=40.500047%2C77.607422&output=embed&z=4&ie=UTF8&msa=0&msid=117626973029192648931.000447d968ea4d494125a">Ver mapa en grande</a>
            </p>
        </div>
        <div class="col-md-5">
        
            <!-- SeachBox -->

            <form id="search-form" class="input-group" role="form">
                <input type="text" class="form-control input-lg" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </form>

            <!-- Próximos eventos -->

            <section class="list-group">
                <header class="list-group-item">
                    <h3 class="list-group-item-heading">Próximos eventos</h3>
                </header>
                {% for i in 4|get_range %} 
                    <article class="list-group-item">
                        <h4 class="list-group-item-heading">PyCon Argentina</h4>
                        <p class="list-group-item-text"><span>23 de Agosto de 2012</span> | <span>20:00 hs</span> | <span>Audotorio UnQui</span></p>
                    </article>
                {% endfor %}
            </section>

            <!-- Planeta PyAr -->

            <section class="list-group">
                <header class="list-group-item">
                    <h3 class="list-group-item-heading">Planeta PyAr</h3>
                </header>
                {% for i in 4|get_range %} 
                    <article class="list-group-item">
                        <h4 class="list-group-item-heading">Mi experiencia con PyQT y HTML5</h4>
                        <p class="list-group-item-text"><span class="text-muted">via: </span><span>http://elblogdefulanito...</span><span class="text-muted"> | 23-05-2012 | 22:05</span></p>
                    </article>
                {% endfor %}
            </section>
        </div>
    </div>
</main>
{% endblock %}
