{% extends "base_site.html" %}

{% load devtags %}

{% block left-column %}
  <h2>¿Quiénes Somos?</h2>
  <p>Un <a href="/members">grupo de entusiastas de Python</a>, que decidió aunar esfuerzos para crear una comunidad local como marco de referencia para la aplicación, difusión y mejora de este lenguaje.</p>
  <h2>¿Qué hacemos?</h2>
  <p>Organizamos <a href="/events">eventos</a> de distinto tipo para difundir el lenguaje y <a href="/events">reuniones</a> donde debatimos ideas, mantenemos una <a href="/maillinglist">ListaDeCorreo</a> a través de la cual nos comunicamos, creamos y mantenemos este portal, el cual pretendemos que tenga contenido útil tanto para los miembros de <a href="/">PyAr</a> como para toda aquella persona que se interese por Python. Hoy estamos abocados a lograr evolucionar como grupo, contribuyendo con diversos proyectos.</p>
  <h2>¿Cómo surgió?</h2>
  <p>Merced a búsquedas en Internet, algunas personas se fueron registrando en el grupo de <a class="http" href="http://python.meetup.com/cities/ar/buenos_aires/">Python de Buenos Aires de Meetup.</a></p>
  <p>A mediados del 2004, el sitio era gratuito y "ranqueaba" alto en los resultados de los buscadores. El origen de aquel grupo es incierto, algunos creen que algún ocasional interesado lo creó, otros suponen que Meetup creaba estos grupos artificialmente como técnica de posicionamiento en buscadores (<a class="http" href="http://es.wikipedia.org/wiki/Posicionamiento_en_buscadores">SEO</a>). Lo único cierto es que un cambio en su funcionamiento (la aparición del rol de "Manager") ayudó a fomentar la organización y posterior concreción de la primera reunión del grupo en Buenos Aires, en septiembre de 2004.</p>
  <h2>¿Cómo participar?</h2>
  <p>Suscribiéndote a la <a href="/maillinglist">ListaDeCorreo</a>, registrándote en el portal, asistiendo a cualquiera de nuetros <a href="/Eventos">Eventos</a>, aportando ideas. También tenemos un canal de <b>IRC</b>. El servidor es <b>irc.freenode.net</b>, y el nombre del canal es <b>#pyar</b>. Podés ingresar vía Web <a href="/irc">aquí</a>. Si querés colaborar aportando contenido al Wiki, o ayudando en su mantenimiento, también es posible. Por favor, leé <a href="/ContribuyendoAlWiki">ContribuyendoAlWiki</a>.</p>
  <h2>¿Donde viven los miembros de PyAr ?</h2>
  <p><a class="http" href="http://maps.google.com/maps/ms?hl=en&amp;ptab=2&amp;ie=UTF8&amp;t=h&amp;msa=0&amp;msid=117626973029192648931.000447d968ea4d494125a&amp;ll=-39.774769,-57.216797&amp;spn=40.500047,77.607422&amp;z=4">Agregate al mapa</a></p>
  <p>
      <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ar/maps/ms?hl=es&amp;ll=-39.774769%2C-57.216797&amp;t=h&amp;spn=40.500047%2C77.607422&amp;output=embed&amp;z=4&amp;ie=UTF8&amp;msa=0&amp;msid=117626973029192648931.000447d968ea4d494125a"></iframe>
      <br>
      <a class="http" href="http://maps.google.com.ar/maps/ms?hl=es&ll=-39.774769%2C-57.216797&source=embed&t=h&spn=40.500047%2C77.607422&output=embed&z=4&ie=UTF8&msa=0&msid=117626973029192648931.000447d968ea4d494125a">Ver mapa en grande</a>
  </p>
{% endblock %}
