{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load devtags %}

{% block extra_head %}
<script type="text/javascript">
// Taken from jquery.init.js from django/admin
var django = {
    "jQuery": jQuery.noConflict(true)
};
var jQuery = django.jQuery;
var $=jQuery;
</script>
{% endblock %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">
	    <div class="page-header">
	    	<h2>{% if form.instance.id %}
	    			{% trans 'Actualizando información' %}
	    		{% else %}
	    			{% trans 'Agregar un nuevo empleo' %}
	    		{% endif %}
	    	</h2>
	    </div>
	    {{ form.media }}
	    {% crispy form %}
	</div>
</main>
{% endblock %}
