{% extends "base.html" %}
{% load disqus_tags %}
{% load i18n %}
{% load email_obfuscator %}
{% load devtags %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<main id="main" class="container" role="main">

    <div class="col-lg-12">

      <div class="page-header">
        <h2>{{ object.title }}
          <span class="pull-right">
            {% if object.owner == user %}
            <a href="{% url 'jobs_update' object.id %}" class="btn btn-info">{% trans 'Editar' %}</a>
            <a href="{% url 'jobs_delete' object.id %}" class="btn btn-danger">{% trans 'Borrar' %}</a>
            {% endif %}
          </span>
        </h2>
      </div>

      <div class="row">

        <div class="col-md-8">
          <h1>{{ object.title|title }}</h1>
          <p>{{ object.description|html2text }}</p>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default panel-primary">
            <div class="panel-heading"><strong>Datos de la oferta laboral</strong></div>
            <div class="panel-body">
              <article class="list-group-item">
                <dl>
                  <dt>Fecha de publicación</dt>
                  <dd>
                    <time class="published" datetime="{{ object.created.isoformat }}" itemprop="datePublished" title="{{ "Fecha de publicación" }}">{{ object.created|date:"d/m/Y" }}</time>
                  </dd>
                  <dt>Lugar de trabajo</dt>
                  <dd>{{ object.location|title }}</dd>
                  {% if object.company %}
                    <dt>Empresa</dt>
                    <dd>
                    <a href="{% url 'companies:detail' object.company.id %}">{{ object.company.name }}</a>
                    </dd>
                  {% endif %}
                  <dt>Permite trabajar remoto</dt>
                  <dd>{% if object.remote_work %}Si{% else %}No{% endif %}</dd>
                  {% if object.seniority %}
                    <dt>Seniority requerido</dt>
                    <dd>{{ object.seniority|title }} </dd>
                  {% endif %}
                  <dt>Email de contacto </dt>
                  <dd>{{ object.email }} </dd>
                  <dt> </dt>
                  <dd> </dd>
                </dl>
              </article>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
    {% disqus_show_comments %}
    </div>
  </div>
</main>
{% endblock %}
