{% extends "base.html" %}
{% load disqus_tags %}
{% load i18n %}
{% load email_obfuscator %}
{% load devtags %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>{{ job.title }}
          <span class="pull-right">
            {% if job.owner == user %}
            <a href="{% url 'jobs_update' job.id %}" class="btn btn-info">{% trans 'Editar' %}</a>
            <a href="{% url 'jobs_delete' job.id %}" class="btn btn-danger">{% trans 'Borrar' %}</a>
            {% endif %}
          </span>
        </h2>
      </div>
      <article>
        <p>{{ job.description|linebreaks }}</p>
        <table class="table table-no-border table-user-information">
          <tbody>
            <tr>
              <td class="text-right"><label>{% trans 'Fecha' %}</label></td>
              <td>{{ job.created|date:"d/m/y" }}</td>
            </tr>
            <tr>
              <td class="text-right"><label>{% trans 'Lugar' %}</label></td>
              <td>{{ job.location }}</td>
            </tr>
            {% if job.company %}
            <tr>
              <td class="text-right"><label>{% trans 'Empresa' %}</label></td>
              <td>{{ job.company }}</td>
            </tr>
            {% endif %}
            <tr>
              <td class="text-right"><label>Email</label></td>
              <td>{{ job.email|obfuscate_mailto }}</td>
            </tr>
            <tr>
              <td class="text-right"><label>{% trans 'Etiquetas' %}</label></td>
              <td>{% for t in job.tags.all %}<span class="label label-default">{{ t.name }}</span> {% endfor %}</td>
            </tr>
            <tr>
              <td class="text-right"><label>{% trans 'Creado por' %}</label></td>
              <td>{{ job.owner }}</td>
            </tr>
          </tbody>
        </table>
      </article>
      <div class="row">
      {% disqus_show_comments %}
      </div>
  </div>
</main>
{% endblock %}
