{% extends "base_site.html" %}
{% load devtags %}
{% load i18n %}
{% load staticfiles %}
{% block left-column %}
<!-- Últimas noticias -->
<section>
    <div class="col-md-12">
        <div class="page-header">
            <h2>{% trans 'Trabajos con Python' %}
                <span class="section-button-group pull-right">
                    <a href="{% url 'jobs_add' %}" class="btn btn-info">{% trans 'Agregar trabajo' %}</a>
                </span>
            </h2>
        </div>
        {% if object_list %}
            {% for object in object_list %}
            <article class="board-list-item">
                <h4>
                    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>  <span class="job-date">({{ object.modified|date:"d/m/y" }}, {{ object.location }})</span>
                </h4>
                <p>{% if object.description|length > 250 %}
                {{ object.description|slice:":250" }} ...
                {% else %}
                {{ object.description }}
                {% endif %}
                </p>
                <div class="text-muted">{% trans 'Etiquetas:' %}{% for t in object.tags.all %}<span class="label label-default">{{ t.name }}</span>{% endfor %}</p>
                <p><a href="{{ object.get_absolute_url }}">{% trans 'Leer más...' %}</a></p>
            </article>
            {% endfor %}
            {% if is_paginated %}
                <ul class="pagination pagination-centered">
                    {% if page_obj.has_previous %}
                        <li><a href="?page=1">&#171;</a></li>
                    {% else %}
                        <li class="disabled"><a href="?page=1">&#171;</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.paginator.num_pages }}">&#187;</a></li>
                    {% else %}
                        <li class="disabled"><a href="?page={{ page_obj.paginator.num_pages }}">&#187;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% else %}
            <div class="col-md-12">
                <p>{% trans 'La búsqueda no produjo resultados.' %}</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block right-column %}
{% include "_tags_filtering_form.html" %}
{% endblock %}
