{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <main id="main" class="container" role="main">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Mi Perfil</h2>
            </div>
            <form method="POST" action="{% url 'profiles:update' %}">
                {% csrf_token %}
                {{ form_perfil|crispy }}

                <!-- form para mostrar medios de contactos dinámicos -->
                {{ form_medio_ctos.management_form }}
                {% for subform in form_medio_ctos %}
                    <div class="medios_ctos_inline {{ form_medio_ctos.prefix }}">
                        {{ subform|crispy }}
                    </div>
                {% endfor %}
                <!-- / form para mostrar medios de contactos dinámicos -->
                <br>
                <input type="submit" name="profiles_submit" value="Guardar" class="btn btn-primary" id="submit-id-profiles_submit">
            </form>
        </div>
    </main>

    <script>
        $(".medios_ctos_inline.{{ form_medio_ctos.prefix }}").formset({
            prefix: '{{ form_medio_ctos.prefix }}'
        });
    </script>

{% endblock %}


