{% extends "base_site.html" %}
{% load devtags %}
{% load i18n staticfiles pagination_tags %}
{% block title %}Aprendices{% endblock %}
{% block left-column %}

<!-- Project list -->
<section>
    <div class="col-md-12">
        <div class="page-header">
            <h2>{% trans 'Aprendices' %}
                <span class="section-button-group pull-right">
                    <a href="{% url 'new_apprentice' %}" class="btn btn-info">{% trans 'Quiero aprender' %}</a>
                </span>
            </h2>
        </div>

        {% if object_list %}
            {% regroup object_list|dictsort:"status" by status as object2_list %}
            {% for obj in object2_list %}
                {% for i in status_choices %}
                    {% if obj.grouper == i.0 %}
                        <h3>{{ i.1 }}</h3>
                    {% endif %}
                {% endfor %}
                {% for object in obj.list %}
                    <h4>
                        <a href="{{ object.get_absolute_url }}">{{ object.owner }}</a>
                    </h4>
                    <p>{{ object.description|html2text|truncatewords:50 }}</p>
                    <div class="text-muted">
                        {% include "tutoring/_tutoring_tags.html" with tags_type="apprentice" %}
                    </div>
                    <p><a href="{{ object.get_absolute_url }}">{% trans 'Leer más...' %}</a></p>
                {% endfor %}
            {% endfor %}

            {% paginate %}
        {% else %}
            <div class="col-md-12">
                <p>{% trans 'La búsqueda no produjo resultados.' %}</p>
            </div>
        {% endif %}



            <!-- <div class="pull-right">
                <a href="{% url 'jobs_feed' %}" class="badge">
                    <i class="fa fa-rss"></i> RSS
                </a>
           </div> -->
    </div>
</section>
{% endblock %}

{% block right-column %}
{{ block.super }}
{% include "_tags_filtering_form.html" %}
{% endblock %}
