{% extends "base_site.html" %}
{% load devtags %}
{% load i18n staticfiles pagination_tags %}
{% block title %}Mentorías de tutorías{% endblock %}
{% block left-column %}

<!-- Mentorship list -->
<section>
    <div class="col-md-12">
        <div class="page-header">
            <h2>{% trans 'Mentrorías de tutorías' %}
                <span class="section-button-group pull-right">
                    {% if user.mentor %}
                        <a href="{% url 'new_mentorship' %}" class="btn btn-info">{% trans 'Agregar mentoría' %}</a>
                    {% endif %}
                </span>
            </h2>
        </div>

        {% if object_list %}
            {% for object in object_list %}
                <h4>
                    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                </h4>
            {% endfor %}

            {% paginate %}
        {% else %}
            <div class="col-md-12">
                <p>{% trans 'La búsqueda no produjo resultados.' %}</p>
            </div>
        {% endif %}



            <!-- <div class="pull-right">
                <a href="{% url 'jobs_feed' %}" class="badge">
                    <i class="fa fa-rss"></i> RSS
                </a>
           </div> -->
    </div>
</section>
{% endblock %}

{% block right-column %}
{{ block.super }}
{% include "_tags_filtering_form.html" %}
{% endblock %}
