

{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load devtags %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">
	    <div class="page-header">
	    	<h2>{% trans 'Eliminar mentor' %}</h2>
	    </div>
	    <form action="" method="post">{% csrf_token %}
            <p>{% trans 'Está seguro que desea eliminar al mentor' %} "{{ object }}"?</p>
            <input type="submit" value="Confirm" />
        </form>
	</div>
</main>
{% endblock %}