{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load devtags %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">
	    <div class="page-header">
	    	<h2>
                {% trans 'Detalles del mentor' %} {{ object.owner }}
            </h2>
	    </div>
        <p>{% trans 'Descripción:' %} {{ object.description }}</p>
        <p>{% trans 'Disponibilidad:' %}
            {% if object.available %}
	    		{% trans 'Disponible' %}
	    	{% else %}
	    		{% trans 'No disponible' %}
            {% endif %}
        </p>
        <p>{% trans 'Desde:' %} {{ object.start_date }}</p>
        <p>{% trans 'Slots:' %} {{ object.slots }}</p>
        <p>{% trans 'Skills:' %} {% for tag in object.tags.all %}
                 {{ tag.name }},
            {% endfor %}
        </p>

	</div>
</main>
{% endblock %}