{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load devtags %}

{% block content %}
<main id="main" class="container" role="main">
    <div class="col-lg-12">
	    <div class="page-header">
	    	<h2>
                {% trans 'Detalles del proyecto' %} {{ object.title }}
            </h2>
	    </div>
        <p>{% trans 'Descripción:' %} {{ object.description }}</p>
        <p>{% trans 'Estado:' %} {{ object.get_status_display }}</p>
        <p>{% trans 'Enlace al repositorio: ' %}<a href="{{ object.link_repo }}" target="_blank">
            {{ object.link_repo }}</a></p>
        <p>{% trans 'Buscando:' %} {{ object.get_looking_for_display }}</p>
        <p>{% trans 'Múltiples mentores:' %}
            {% if object.multiple_mentors %}
	    		{% trans 'Se aceptan múltiples mentores' %}
	    	{% else %}
	    		{% trans 'No se aceptan múltiples mentores' %}
            {% endif %}
        </p>
        <p>{% trans 'Múltiples aprendices:' %}
            {% if object.multiple_apprentices %}
	    		{% trans 'Se aceptan múltiples aprendices' %}
	    	{% else %}
	    		{% trans 'No se aceptan múltiples aprendices' %}
            {% endif %}
        </p>
        <p>{% trans 'Mentores:' %} {% for mentor in object.mentors.all %}
                 {{ mentor.owner }},
            {% endfor %}
        </p>
        <p>{% trans 'Aprendices:' %} {% for apprentice in object.apprentices.all %}
                 {{ apprentice.owner }},
            {% endfor %}
        </p>
        <p>{% trans 'Tags:' %} {% for tag in object.tags.all %}
                 {{ tag.name }},
            {% endfor %}
        </p>

	</div>
</main>
{% endblock %}