{% extends "base_site.html" %}
{% load devtags %}
{% load i18n staticfiles pagination_tags %}
{% block title %}Proyectos para tutorías{% endblock %}
{% block left-column %}

<!-- Project list -->
<section>
    <div class="col-md-12">
        <div class="page-header">
            <h2>{% trans 'Proyectos para tutorías' %}
                <span class="section-button-group pull-right">
                    <a href="{% url 'new_project' %}" class="btn btn-info">{% trans 'Crear proyecto' %}</a>
                </span>
            </h2>
        </div>

        {% if object_list %}
            {% for object in object_list %}
                <h4>
                    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                    <span class="job-date">
                        ({{ object.get_status_display }}, {{ object.get_looking_for_display }})
                    </span>
                </h4>
                <p>{{ object.description|html2text|truncatewords:50 }}</p>
                <div class="text-muted">
                {% include "tutoring/_tutoring_tags.html" %}
                <p><a href="{{ object.get_absolute_url }}">{% trans 'Leer más...' %}</a></p>
            {% endfor %}

            {% paginate %}
        {% else %}
            <div class="col-md-12">
                <p>{% trans 'La búsqueda no produjo resultados.' %}</p>
            </div>
        {% endif %}



            <!-- <div class="pull-right">
                <a href="{% url 'jobs_feed' %}" class="badge">
                    <i class="fa fa-rss"></i> RSS
                </a>
           </div> -->
    </div>
</section>
{% endblock %}

{% block right-column %}
<section class="list-group">
    <header class="list-group-item">
        <h3 class="list-group-item-heading">{% trans 'Tutorías' %}</h3>
    </header>
    <article class="list-group-item">
        <div class="section-button-group">
            <a href="{% url 'apprentice_list_all' %}" class="btn btn-info btn-block">{% trans 'Ver apredices' %}</a>
            <a href="{% url 'mentor_list_all' %}" class="btn btn-info btn-block">{% trans 'Ver mentores' %}</a>
            <a href="{% url 'mentorship_list_all' %}" class="btn btn-info btn-block">{% trans 'Ver mentorías' %}</a>
            <a href="{% url 'project_list_all' %}" class="btn btn-info btn-block">{% trans 'Ver proyectos' %}</a>
        </div>
    </article>
</section>
{{ block.super }}
{% include "_tags_filtering_form.html" %}
{% endblock %}
