{% extends "base_site.html" %}

{% load i18n %}

{% load devtags %}

{% block title %}Eventos {% endblock %}

{% block left-column %}

  <!-- Proximos eventos -->

  <section>
    <div class="page-header">
      <h2>
        {% trans "Proximos Eventos" %}

        <span class="section-button-group pull-right">
          <a href="{% url 'events:add' %}" class="btn btn-info">{% trans "Agregar" %}</a>
        </span>

        <div class="pull-right">
                <a href="{% url 'events:events_feed' %}" class="badge">
                    <i class="fa fa-rss"></i> RSS
                </a>
           </div>


      </h2>


    </div>

    {% for event in eventos_proximos %}
      <article class="list-group-item">
        <h4 class="list-group-item-heading">
          <a href="{% url 'events:detail' event.id %}">
            {{ event.name }}
          </a> |
          <small>{{ event.start_at }}</small>
        </h4>
        <p class="list-group-item-text">
          {{ event.description|truncatewords:"100"|striptags|safe }}
          <hr>
        </p>
      </article>
    {% empty %}
      <article class="list-group-item">
        <p class="list-group-item-text">{% trans "No hay eventos a futuro" %}</p>
      </article>
    {% endfor %}

    <hr>

    <header class="page-header">
        <h2>
          {% trans "Eventos pasados" %}
        </h2>
    </header>

    {% for event in eventos_pasados %}

      <article class="list-group-item">
        <h4 class="list-group-item-heading">
          <a href="{% url 'events:detail' event.id %}">
            {{ event.name }}
          </a> |
          <small>{{ event.start_at }}</small>
        </h4>
        <p class="list-group-item-text">{{ event.description|striptags|truncatewords:"20" }}</p>
      </article>

    {% empty %}
      <article class="list-group-item">
        <p class="list-group-item-text">{% trans "No hay eventos pasados" %}</p>
      </article>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'anterior' %}</a>
            {% endif %}

            <span class="current">
              {% trans "Pagina" %} {{ page_obj.number }} {% trans 'de' %} {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans 'siguiente' %}</a>
            {% endif %}
        </span>
    </div>

  </section>
{% endblock %}
