{% extends "base.html" %}

{% load i18n %}
{% load devtags %}
{% load crispy_forms_tags %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/event_map.css">
  {{ form.media.css }}
{% endblock %}

{% block content %}

  <main id="main" class="container" role="main">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>
          {% if form.instance.id %}
            {% trans 'Editar Evento' %}
          {% else %}
            {% trans 'Agregar Evento' %}
          {% endif %}

          <span class="section-button-group pull-right">
                <a href="{% url 'events:events_list_all' %}" class="btn btn-info">
                  {% trans "Volver a eventos" %}
                </a>
            </span>
        </h2>
      </div>

      {% crispy form %}

    </div>
  </main>

{% endblock %}

{% block javascripts %}

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  
  {{ form.media.js }}

{% endblock %}

