{% extends "base.html" %}

{% load i18n %}

{% load devtags %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/event_map.css">
{% endblock %}

{% block javascripts %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="/static/js/event_detail.js"></script>
{% endblock %}


{% block content %}

	<main id="main" class="container" role="main">
	    <div class="row">
	        <div class="col-md-12">
            <a href="{% url 'events:events_list_all' %}">{% trans "Volver a eventos" %}</a>

            <h1>
              {{ event.name }}
            </h1>

            <p>{% trans "Creado por" %}: {{ event.owner }}</p>
            <p>{% trans "¿ Donde ?" %}: {{ event.place }} | {{ event.address }}</p>

            <div id="map-canvas"></div>

            <p>{% trans "¿ Cuando ?" %}: {{ event.start_at }}</p>
            <p>{% trans "¿ a que hora termina ?: " %}: {{ event.end_at|time }}</p>
            <p>{% trans "url" %}: <a href="{{ event.url }}">{{ event.url }}</a></p>

            <p>{{ event.description }}</p>

            <blockquote>
              <footer>
                {{ event.updated_at }} {% trans 'por' %} {{ event.owner}} 
                {% if event.owner == user %}
                  <a href="{% url 'events:delete' event.id %}">{% trans 'Borrar' %}</a> | 
                  <a href="{% url 'events:edit' event.id %}">{% trans 'Modificar' %}</a>
                {% endif %}
              </footer>
            </blockquote>


            <input type="hidden" id="id_lat" value="{{ event.lat }}">
            <input type="hidden" id="id_lng" value="{{ event.lng }}">
	        </div>
	    </div>
	</main>

{% endblock %}


