{% extends "base.html" %}

{% load i18n %}

{% load devtags %}

{% block stylesheets %}

  <link rel="stylesheet" href="/static/css/event_map.css">
  {{ form.media.css }}  
  
{% endblock %}

{% block content %}

  <main id="main" class="container" role="main">
	    <div class="row">
	        <div class="col-md-12">
				    <a href="{% url 'events:events_list_all' %}">{% trans "Volver a eventos" %}</a>

		        <form method="POST">
		            {% csrf_token %}
                {{ form.as_p }}

                <div id="map-canvas"></div>

                <div>
                  <input type="submit" value="{% trans 'Guardar' %}"/>
                </div>
            </form>

	        </div>
	    </div>
  </main>

{% endblock %}

{% block javascripts %}

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="/static/js/event_form.js"></script>
  
  {{ form.media.js }}

{% endblock %}

