{% extends "base.html" %}
{% load i18n %}
{% load devtags %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/event_map.css">
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <main id="main" class="container" role="main">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>
                    {% if form.instance.id %}
                        {% trans 'Editar participación' %}
                    {% else %}
                        {% trans 'Participar' %}
                    {% endif %}

                    <span class="section-button-group pull-right">
                      {% if form.instance.id %}
                          <a href="{% url 'events:detail' form.instance.event.id %}" class="btn btn-info">
                            {% trans "Volver al evento" %}
                          </a>
                          <a href="{% url 'events:unregister' form.instance.event.id form.instance.id %}" class="btn btn-danger">
                            {% trans "Eliminar" %}
                          </a>
                      {% else %}
                          <a href="{% url 'events:events_list_all' %}" class="btn btn-info">
                          {% trans "Volver a eventos" %}
                        </a>
                      {% endif %}
                    </span>
                </h2>
            </div>

            {% crispy form %}

        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    {{ form.media.js }}
{% endblock %}

