{% extends "base_site.html" %}

{% load i18n %}

{% load devtags %}

{% block left-column %}

  <!-- Proximos eventos -->

  <section class="list-group">
      <header class="list-group-item">
          <h3 class="list-group-item-heading">{% trans "Proximos Eventos" %}
            {% if user.is_authenticated %}
              | <a href="{% url 'events:add' %}"><small>{% trans "Agregar" %}</small></a>
            {% endif %}
          </h3>
      </header>

      {% for event in object_list %} 
          
          <article class="list-group-item">
              <h4 class="list-group-item-heading">
                <a href="{% url 'events:detail' event.id %}">
                  {{ event.name }}
                </a> |
                <small>{{ event.start_at }}</small>
              </h4>
              <p class="list-group-item-text">{{ event.description|truncatewords:"20" }}</p>
              <blockquote>
                <footer>
                {{ event.updated_at }} {% trans 'por' %} {{ event.owner}} 
                  {% if event.owner == user %}
                  <a href="{% url 'events:delete' event.id %}">{% trans 'Borrar' %}</a> | 
                  <a href="{% url 'events:edit' event.id %}">{% trans 'Modificar' %}</a>
                  {% endif %}
                </footer>
              </blockquote>
            </article>

      {% endfor %}

      <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">{% trans 'anterior' %}</a>
              {% endif %}

              <span class="current">
                Page {{ page_obj.number }} {% trans 'de' %} {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">{% trans 'siguiente' %}</a>
              {% endif %}
          </span>
      </div>

  </section>
{% endblock %}
