{% for event in events %}
    <article class="list-group-item">
      <h4 class="list-group-item-heading">
        <a href="{% url 'events:detail' event.id %}">
          {{ event.name }}
        </a>
      </h4>
      
      <p class="list-group-item-text">
        <span>{{ event.start_at|date }}</span> | 
        <span>{{ event.start_at|time }}</span> | 
        <span>{{ event.place }}</span>
      </p>
    </article>

{% empty %}
  <article class="list-group-item">
    <p class="list-group-item-text">No hay eventos a futuro</p>
  </article>
{% endfor %}
