{% extends "base_site.html" %}

{% load devtags %}

{% block title %}Canal de chat IRC{% endblock %}

{% block left-column %}
            <iframe src="https://kiwiirc.com/client/irc.libera.chat:6697/?nick=pyarense_i|?#pyar" style="margin-top:20px; border:0; width:100%; height:450px;"></iframe>
            <h2>Archivo de IRC</h2>
            <p>El archivo del canal se encuentra disponible en <a href="http://irclogger.com/.pyar/">http://irclogger.com/.pyar/</a></p>
            <h2>Accediendo al canal desde tu cliente favorito</h2>
            <p>Si querés usar otro cliente de IRC, ingresá al canal: <b>#pyar</b> en el server: <b>irc.libera.chat:6697</b></p>
{% endblock %}
