{% extends "base_site.html" %}

{% load devtags %}

{% block title %}Canales de chat Python Argentina{% endblock %}

{% block left-column %}
            <h2> IRC en Libera.chat</h2>
            <p> Nuestro chat original fue el IRC en el servidor de Freenode. En Mayo de 2021 nos mudamos a https://libera.chat.
                podes simplemente utilizar tu cliente favorito y conectarte a irc.libera.chat.</p>
            <h2> Telegram </h2>
            <p> También tenemos un canal en telegram al que podes acceder utilizando este link: https://t.me/pythonargentina </p>
            <h2> Bridges </h2>
            <p> Todos los canales están conectados con un "bridge" (puente en inglés). Por lo que no importa si estas en Telegram o IRC
                vas a poder hablar con los usuarios de cada lado del puente.</p>
            <p> Además tenemos un bridge en Matrix al que podes acceder utilizando este link <a href="https://matrix.to/#/!kExfwJpPpAagTTOLwm:libera.chat?via=libera.chat&via=integrations.snt.utwente.nl&via=matrix.org">#pyar:libera.chat</a>
            <h2> Código de Conducta </h2>
            <p> En todos los canales o eventos te pedimos que leas y respetes nuestro CoC. https://ac.python.org.ar/#coc
{% endblock %}
